RewriteEngine On
RewriteRule ^admin\.php$ /admin [R=302,L]
RewriteRule ^admin/?$ admin.php [L,QSA]
RewriteCond %{THE_REQUEST} \s/+leaderboards\.php[?\s] [NC]
RewriteRule ^leaderboards\.php$ /leaderboards [R=302,L]
RewriteCond %{THE_REQUEST} \s/+player\.php\?username=([^&\s]+) [NC]
RewriteRule ^player\.php$ /player/%1? [R=302,L]
RewriteRule ^leaderboards/?$ leaderboards.php [L,QSA]
RewriteRule ^players/?$ /leaderboards [R=302,L]
RewriteRule ^player/?$ player.php [L,QSA]
RewriteRule ^player/([^/]+)/?$ player.php?username=$1 [L,QSA]

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 7 days"
    ExpiresByType application/javascript "access plus 7 days"
    ExpiresByType image/png "access plus 30 days"
    ExpiresByType image/svg+xml "access plus 30 days"
    ExpiresByType image/gif "access plus 30 days"
    ExpiresByType video/mp4 "access plus 30 days"
    ExpiresByType video/x-m4v "access plus 30 days"
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/css application/javascript application/json image/svg+xml
</IfModule>
